* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto; 
    font-family: sans-serif;
}
.header{
    width: 1600px;
    margin: 0 auto;
    min-height: 75px;
    background-color: #222222;
}  
.head {
    display: flex;
    padding-top: 18px;
    list-style: none;
}
.search{
    display: block;
    z-index: 1;
    margin-left: 41px;
   margin-top: 10px;
   position: relative;
   
}
.input{
   margin-top: 5px;
   height: 25px;
   background-color:#222222;
   border: solid transparent;
    position: relative;
    flex-grow: 1;
    right: 30px;
   
}
.menu_3{
    margin-top: 12px;
    margin-left: 650px;   
}
.menu_4{
    margin-top: 8px;
    margin-left: 33px;   
}
.menu_5{
    margin-top: 8px;
    margin-left: 33px;   
}
.input:hover{
    height: 25px; 
    background-color: white;     
}
.basket{
    position: relative;
    right: 15px;
}
.top{
    width: 1600px;
    margin: 0 auto;
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    margin-bottom: 65px;
}
.info{
    display: flex;
    height: 92px;
    padding-top:290px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    color: #222222;
}
.ractangle_pink{
    margin-left: 30px;
    width: 12px;
    height: 92px;
    background-color:#F16D7F ;
}
.box {
    padding-left: 10px;
    font-family: sans-serif;
}
.box_1{
    font-weight: bolder;
}
.box_2 {
    display: flex;
}
.pink {
    color: #F16D7F;
    margin-left: 5px;
}
.dark_blok{
    background-color:  rgba(33, 22, 22, 0.7);
    position: relative;
    z-index: 1;
   
  
}
.item{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    margin-bottom: 30px;
    justify-content: space-between;
    margin: 0 auto;
    font-family: sans-serif;
}

.item_1{    
    background-color: rgba(33, 22, 22, 0.7) ; 
    position: relative;
    z-index: 1;
}

.item_1:hover{
    position: relative;
    background-size: cover;   
}
.info_1{
    position: absolute;
    z-index: 1;
    margin-top: 120px;
    width: 360px;
}
.info_2{
    position: absolute;
    z-index: 1;
    margin-top: 70px;
    width: 1140px;
    justify-content: center;
}
.layer{
    display: block;
    position: relative; 
}
.text_white {
    display: flex;
    color: white;   
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;  
}
.text_pink{
    color:#F16D7F;
    font-family: Lato;
    font-size: 24px;
    line-height: 28,8px;
    font-weight: 700px;
    font-family: sans-serif;
    justify-content: center; 
    text-align: center;
}

.item_4{
    margin-top: 30px;
    width: 1140px;
    justify-content: center;   
}
.fetured{
    margin-top: 96px;
    text-align:center;
}
.heading{
    font-family: Lato;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.paragraph {
margin-top: 6px;
font-family: Lato;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
font-family: sans-serif;
letter-spacing: 0.05em;
}
.text_item{
    display: flex;
    flex-direction: column;
    width: 315px;
    padding-left: 18px; 
  margin-right: 18px;
}
.name{
    margin-top:  26px;
    padding-bottom: 13px;
    font-family: Lato;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.05em;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block {
    margin-top: 30px;
    background-color: #F8F8F8;
    width: 360px; 
}
.price{
    margin-top: 18px;
    color: #F16D7F;
    padding-left: 16,46px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: Lato;
    font-family: sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}
.button{
    display: flex;
    justify-content: center;

}
.top_button{
    padding: 14px 38px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F16D7F;
    background: white;
    margin-top: 48px;
    margin-bottom: 96px;
    border-color: #F16D7F;
}
.top_button:hover{
    color: #FFFFFF;
    background:#F16D7F;
    border: 1px solid #F16D7F;   
}

.footer {
    width: 1600px;
    display: flex;
    height: 341px;
    background-color:#222224;
    padding: 0 230px;
}
.blocks{
    justify-content: center;
    width: 360px;
    text-align: center;
    padding-top: 103px;
    padding-inline: 15px;
}
.name_1{
    color: #FBFBFB;
    font-size: 19.96px;
    line-height: 24px;
    font-weight: 400;
    font-family: Lato;
    font-family: sans-serif;
    margin-top: 28px;
    margin-bottom: 16px;
}